p.wrong{
    color: rgb(202, 26, 26);
}

p.good{
    color: rgb(9, 97, 9);
}

body{
    background-color: rgb(206, 223, 231);
}

fieldset{
    background-color: rgb(147, 185, 202);
    border-radius: 30px;
}